.blog {
  margin: 4em 0;
  padding-top: 1em;
  position: relative;
}

.blog h1 {
  color: olivedrab;
  margin: 2em;
}

.blog .card {
  box-shadow: 0 0 20px #ccc;
}

.blog .card img {
  width: 100%;
  height: 15em;
}

.blog .card-title {
  color: olivedrab;

}

.blog .card-body {
  padding: 1em;
}

.card-custom {
  padding-bottom: 1em;
}