.blog {
  margin: 4em 0;
  padding-top: 1em;
  position: relative;
}

.blog h1 {
  color: olivedrab;
  margin: 2em;
}

.blog .card {
  box-shadow: 0 0 20px #ccc;
}

.blog .card img {
  width: 100%;
  height: 15em;
}

.blog .card-title {
  color: olivedrab;
  --card-title-font-size: 1.5rem;
  font-size: var(--card-title-font-size);
}
.blog .card-text {
  --card-text-font-size: 1rem;
  font-size: var(--card-text-font-size);
}

.blog .card-link {
  --card-link-font-size: 1rem;
  font-size: var(--card-link-font-size);
}

.blog .card-body {
  padding: 1em;
}

.card-custom {
  padding-bottom: 1em;
}

@media(max-width: 500px) {
  .blog .card-title {
    --card-title-font-size: 1rem;
  }
  .blog .card-text {
    --card-text-font-size: 0.7rem;
  }
  .blog .card-link {
    --card-link-font-size: 0.7rem;
  }
}