.contact-form {
  margin: 6em 0;
  padding-top: 5%;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: olivedrab;
}

.contact-form .right {
  max-width: 600px;
}

.contact-form .right .btn-secondary {
  background: olivedrab;
  color: #fff;
  border: none;

}

.contact-form .right .btn-primary {
  background: olivedrab;
}

.form-custom {
  position: relative;
}

.label-custom {
  position: absolute;
  left: 0;
  left: 12px;
  top: 6px;
  transition: all .3s ease-in;
  color: #9e9e9e;
  cursor: text;
}

.label-custom-up {
  left: 5px;
  top: -12px;
  font-size: 13px;
  background-color: #fff;
  padding: 1px;
  color: #000;
  transition: all .3s ease-in;
  -webkit-user-select: none;
  user-select: none;
}

.btn-custom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
}

.alert-custom {
  margin: auto;
  text-align: center;
}

.alert-custom>button {
  outline: none;
}