/*Стиль хедера*/
.header {
  background-image: url('../img/header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}

.description h1 {
color:olivedrab ;
}

.description p {
color:#666;
font-size: 20px;
width: 50%;
line-height: 1.5;
}

.description button {
border:1px  solid olivedrab;
background:olivedrab;
color:#fff;
}

.description button:hover {
  background:darkolivegreen;  
}