.navbar {
  background: olivedrab;
}

.nav-link,
.navbar-brand {
  color:  black;
  cursor: pointer;
  outline:none;
  border-radius: 5px;
}

.nav-link:hover,
.navbar-brand:hover {
  color:  black;
  background: darkolivegreen;
}

.nav-link {
  margin-right: 1em !important;
}

.navbar-brand {
  padding: 10px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: darkolivegreen !important;
}

:target:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}