/*Portfolio*/
.portfolio {
  margin: 4em 0;
  padding-top: 1em;
  position: relative;
}

.portfolio h1 {
  color: olivedrab;
  margin: 2em;
}

.portfolio img {
  height: 15rem;
  max-width: 100%;
  min-width: 100%;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
}